.table {
  height: 90vh;
  border: 0px;
  border-spacing: 0px;
  margin: 0px 50px;
}

.table thead td {
  width: 25%;
  background-color: white;
}

.table tr {
  line-height: 26px;
}

.table tr td {
  padding: 0px 16px;
  border-bottom: 1px solid #ecedef;
}